{% extends "server.jinja2" %}

{% set base_image = "debian:bullseye" %}

{% set dependencies = [
    {"pkgs": "adduser apache2 python3-gunicorn iproute2 libjs-bootstrap libjs-excanvas libjs-jquery libjs-jquery-cookie libjs-jquery-flot libjs-jquery-typeahead libjs-jquery-ui libjs-jquery-watermark postgresql postgresql-client postgresql-common python3-setuptools systemd-sysv" },
    {"pkgs": requires("debian", "bullseye", "lava-server") },
    {"pkgs": requires("debian", "bullseye", "lava-server", True) },
    {"pkgs": requires("debian", "bullseye", "lava-dispatcher") },
    {"pkgs": requires("debian", "bullseye", "lava-dispatcher", True) },
    {"pkgs": "nfs-kernel-server sudo"},
] %}
