{% extends "base.jinja2" %}

{% set base_image = "debian:bullseye" %}

{% set dependencies = [
    {"pkgs": requires("debian", "bullseye", "lava-common") },
    {"pkgs": requires("debian", "bullseye", "lava-dispatcher") },
    {"pkgs": requires("debian", "bullseye", "lava-dispatcher", True) },
    {"pkgs": "dfu-util nfs-kernel-server openocd"}
] %}

{% set pip_packages = ["avh-api==1.0.5"] %}
